/*BODY*/


body {
background:#333;

}

/* WRAPPER */

.wrapper {
 width:75%;
 margin:0 auto;
 height:1000px;

}


/* HEADER*/
header {  
width:100%;
height:200px;
background:orange;
}


/*NAVBAR*/

.container-fluid {
 padding-left:0px;
}

.navbar-toggle {
 float:left;
 margin-left:15px;
}


.navbar-default {
border-radius:0px;
border:0px;
-webkit-box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    1px 1px 14px 0px rgba(0, 0, 0, 0.75);
box-shadow:         1px 1px 14px 0px rgba(0, 0, 0, 0.75);

}
.navbar-default .navbar-nav > li > a:hover {
  background:#fff;  
}

ul.nav.navbar-nav{

}

.navbar-default .navbar-nav > li > a {
 font-size:15px;
 font-family: 'Noto Sans', sans-serif;
 padding:17px 25px;
 margin-left:-15px;
 
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-left:0px;
  margin-right:0px;
}


 /*UPPERSECTION*/
 .uppersection {
  
     
 }
 
 .upper-side-box {
   
 }
 /*SIDEMENU*/
 /*--------*/
 .navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}
  
 /*--------*/
  /*SIDEMENU*/
 
 .slideshow img{
 float:left;
  
 }

 /* LOWERSECTION*/
 .lowersection {
     
 }
 .bigwindow {

 }












