/*BODY*/


body {
background:white;

}



/* WRAPPER */

.wrapper {
 width:65%;
 margin:0 auto;
 height:1000px;

}


/* HEADER*/
header {  
width:100%;
height:160px;
background:orange;


}

.header-search-field input{
 float:right;
 margin-top:80px;
 border-radius: 7px;
}

.header-logo h1{
padding:80px 0px;
}



/*NAVBAR*/

.container-fluid {
 padding-left:0px;
 
}
.navbar {
border-radius:0px;

}

.navbar-toggle {
 float:left;
 margin-left:15px;
}


.navbar-default {
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf088), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcf088 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcf088 0%,#f1da36 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fcf088 0%,#f1da36 100%); /* IE10+ */
-webkit-box-shadow: 9px 4px 26px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    9px 4px 26px 0px rgba(50, 50, 50, 0.5);
box-shadow:         9px 4px 26px 0px rgba(50, 50, 50, 0.5);
}


.nav > li > a {
margin-left:-15px;
padding:15px 25px;

}

.navbar-default .navbar-nav > li > a {
 color:blue;   
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-left:0px;
  margin-right:0px;
}

.navbar-default .navbar-nav > .active > a {
color:red;
background:orange;
}


 /*UPPERSECTION*/
 .uppersection {
  
     
 }
 .sidenav {
  width:17%;
  background:purple;
  height:600px;
     
 }
 .sidenav>ul {
  padding:10px 20px;
 display:block;
 border-right:1px solid black;
 background:brown;    
     
 }

 .slideshow img{
  margin-top:30px;
  float:right;
 }

 /* LOWERSECTION*/
 .lowersection {
     
 }
 .bigwindow {

 }












