/*BODY*/
body {
background:#333;
color:#fff;
}

/* HEADER*/
header {  
width:100%;
height:200px;
background:#fff;
}



/*NAVBAR*/

.container-fluid {
 padding-left:0px;
}

.navbar-toggle {
 float:left;
 margin-left:15px;
}

.navbar-right {
 float: none !important;
 margin-left:-15px;
 }

.navbar-default {
border-radius:0px;
border:0px;
-webkit-box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    1px 1px 14px 0px rgba(0, 0, 0, 0.75);
box-shadow:         1px 1px 14px 0px rgba(0, 0, 0, 0.75);

}
.navbar-default .navbar-nav > li > a:hover {
 background:#fff;  
}

.navbar-default .navbar-nav > li > a {
 font-size:15px;
 font-family: 'Noto Sans', sans-serif;
 padding:17px 25px;
 
}


 /*UPPERSECTION*/

 
 .row{
  margin-top:50px;    
 }
 
.carousel-control.right {
    
 background:none;   
}
 .carousel-control.left {
 background:none;
 }
 
 #socialmediaicons:first-of-type {
  margin-left:20px;
 }
 #socialmediaicons {
  margin-left:10px;   
 }
 .opacityhover:hover {
  opacity: 0.7;
  cursor:pointer;
 }
 .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

 /* LOWERSECTION*/
 .thumbnail {
  -webkit-box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    1px 1px 14px 0px rgba(0, 0, 0, 0.75);
box-shadow:         1px 1px 14px 0px rgba(0, 0, 0, 0.75);
border-radius:0px;
 }
 
 .thumbnail h3 {
  font-size:18px;
  font-weight:bold;
 }
 
 .thumbnail .btn {
  border-radius:0px;
  margin-top:15px;
 
 }
 
 .thumbnail .btn-default {
  background:#0C5A7F;
  color:#fff;
  
  
 }
 .thumbnail .btn-default:hover {
  background:#4C94FF;
 }
 .bigwindow {

 }

 .label {
   border-radius:0px;  
  
 }

 a.infolinks{
 color:#e55656;   
 }
 
 a.infolinks:hover {
  text-decoration:none;   
 }
 









